h1, h2, h3 {
    display: flex;
    justify-content: center;
}

.grid {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.gridSize {
    display: flex;
    justify-content: center;
}

.controls {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px;
    height: 16px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px;
    background: #afafaf;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency for mouse-over effects on hover */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #00a2ff;
    cursor: pointer;
}

.reset {
    width: 60px;
    margin: 0 auto;
}